@tailwind base;

@tailwind components;

@tailwind utilities;

ul li {
  list-style: inside;
  margin: 18px 0;
  /* padding-inline-start: 40px; */
  -webkit-tap-highlight-color: transparent;
}

.nav__list-style-none li{
  list-style: none;
}

a,a:hover,li:hover {
  color: #096BC8;
}

.is-active {
  /* background-color: #E6F7FF; */
  color: #096BC8;
}
.blog-list-ul {
  @apply flex justify-around px-0
}
.blog-list-li {
  @apply cursor-pointer p-4 m-0 text-gray-700
}